<div class="row">
  <div class="col-md-8">
    {{input type="text" value=newTodoTitle action="createTodo" placeholder="Make a New Todo!"}}
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <ul>
      {{#each todo in model.todos}}
      <li>{{todo.title}}</li>
        <button {{action "deleteTodo" todo.id}} class="destroy btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></button>
      {{/each}}
    </ul>
  </div>
</div>
